body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family:'Segoe UI';
}

body {
	background: linear-gradient(19deg, #6f2f84 0%, #2cb3da 100%);
	height: 700px;
}

main {
	display: flex;
	width: 800px;
	height: 500px;
	margin-left: calc(50% - 400px);
	align-items: center;
	margin-top: 100px;
}

	div.left-side {
		display: inline-block;
		background-image: linear-gradient(0deg, rgba(76,6,155,0.8) 0%, rgba(99,64,167,0.8) 50%, rgba(17,153,228,0.8) 100%), url(mountains.jpg);
		background-size: cover;
		width: 300px;
		color: white;
		float: left;
		height: 440px;
		position: relative;
	}
		h1 {
			font-weight: 100;
			font-size: 40px;
			margin-left: 35px;
			margin-top: 20px;
		}

		a.privicy-policy-link {
			display: inline-block;
			color: white;
			position: absolute;
			bottom: 0px;
			margin-left: 35px;
			margin-bottom: 20px;
			font-size: 15px;
		}

	div.right-side {
		display: inline-block;
		background-color: white;
		width: 500px;
		height: 500px;
	}

		div.close-button {
			display: inline-block;
			float: right;
			font-size: 40px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			margin-right: 15px;
			color: #c1c1c1;
		}

		form {
			display: inline-block;
			width: 100%;
			padding: 0 70px;
		}

			label {
				color: #c1c1c1;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
			}

			form > input {
				background-color: transparent;
				border: 0;
				width: 100%;
				border-bottom: 2px solid #c1c1c1;
				margin-bottom: 35px;
				margin-top: 10px;
				font-size: 16px;
				font-weight: 600;
			}

			form > input:focus {
				outline: 0;
			}

			div.form-submit-sign-in-buttons > input {
				display: inline-block;
				border: 0;
				width: auto;
				padding: 10px 50px;
				border-radius: 25px;
				font-size: 20px;
				text-transform: capitalize;
				color: white;
				font-weight: 600;
				background: linear-gradient(90deg, #2749d6 0%, #0066d9 100%);
				vertical-align: middle;
				cursor: pointer;
			}

			div.form-submit-sign-in-buttons > input:focus {
				outline: 0;
				background-image: linear-gradient(-90deg, #2749d6 0%, #0066d9 100%);
			}
			
			p.sign-in-text {
				display: inline-block;
				width: auto;
				vertical-align: middle;
				margin-left: 30px;
				font-size: 19px;
			}

			a.sign-in-button {
				text-decoration: none;
				color: #2749d6;
				font-weight: bold;
			}



		